* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 244, 249);
  color: rgb(65, 65, 65);
}

.container {
  margin: 0 auto;
  max-width: 640px;
  padding: 1rem;
  width: 100%;
}

:root{
  /* --aa-base-unit: 16;
  --aa-font-size: calc(var(--aa-base-unit) * 1px);
  --aa-spacing-factor: 1;
  --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px);
  --aa-spacing-half: calc(var(--aa-spacing) / 2);
  --aa-icon-size: 18px;
  --aa-icon-stroke-width: calc((20 / var(--aa-base-unit)) * 1.6);
  --aa-primary-color: rgb(62, 52, 211);
  --aa-muted-color: rgba(128, 126, 163, 0.6);
  --aa-selected-color: rgba(62, 52, 211, 0.1);
  --aa-icon-color: rgb(119, 119, 163);
  --aa-text-color: rgb(38, 38, 39);
  --aa-content-text-color: rgb(38, 38, 39, 0.7);
  --aa-background-color: rgb(255, 255, 255);
  --aa-background-color-alpha-0: rgba(255, 255, 255, 0);
  --aa-panel-shadow: 0 0 0 1px rgba(35, 38, 59, 0.1),
    0 6px 16px -4px rgba(35, 38, 59, 0.15);
  --aa-panel-max-height: 500px;
  --aa-detached-media-query: (max-width: 500px);
  --aa-detached-modal-media-query: (min-width: 500px);
  --aa-detached-modal-max-width: 500px;
  --aa-detached-modal-max-height: 500px;  */
}

.aa-ItemIcon--align-top {
  align-self: flex-start;
}

.aa-Panel .aa-SourceEmpty {
  padding: 16px;
}