/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Demo */
:root {
  /* --aa-base-unit: 16;
  --aa-font-size: calc(var(--aa-base-unit) * 1px);
  --aa-spacing-factor: 1;
  --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px);
  --aa-icon-size: 18px;
  --aa-primary-color: rgb(62, 52, 211);
  --aa-muted-color: rgba(128, 126, 163, 0.6);
  --aa-selected-color: rgba(62, 52, 211, 0.1);
  --aa-icon-color: rgb(119, 119, 163);
  --aa-text-color: rgb(38, 38, 39);
  --aa-content-text-color: rgb(38, 38, 39, 0.7);
  --aa-background-color: rgb(255, 255, 255);
  --aa-background-color-alpha-0: rgba(255, 255, 255, 0);
  --aa-panel-max-height: 500px;
  --aa-detached-media-query: (max-width: 500px);
  --aa-detached-modal-media-query: (min-width: 500px);
  --aa-detached-modal-max-width: 500px;
  --aa-detached-modal-max-height: 500px;  */
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 244, 249);
  color: rgb(65, 65, 65);
}
.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}
h1 {
  font-weight: bold;
  margin: 2em 0;
}
.aa-Panel:after {
  margin-bottom: 40px;
}
.aa-PanelLayout {
  top: 0;
  bottom: 40px;
  margin-bottom: 40px !important;
}
.aa-PanelFooter {
  position: absolute;
  display: flex;
  width: 100%;
  height: 40px;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px !important;
}
.aa-Commands {
  display: flex;
}
.aa-Commands li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 12px;
}
.aa-Key {
  align-items: center;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgb(30 35 90 / 40%);
  color: #969faf;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  padding-bottom: 2px;
  position: relative;
  top: -1px;
  width: 20px;
  margin-right: 8px !important;
}
.aa-DetachedSearchButtonSuffix {
  position: absolute;
  right: 0;
  display: flex;
}
.aa-Label {
  color: #969faf;
  font-size: 0.75em;
  line-height: 1.6em;
}
.aa-PoweredByAlgolia {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.aa-Logo {
  margin-left: 8px !important;
  color: rgb(84, 104, 255);
}
