h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1em; }

.join {
  p {
    line-height: 32px;
    font-weight: 400;
  }

  button {
    width: 100%;
    background-color: rgb(162, 220, 0);
  }
  button:hover {
    background-color: rgb(140, 190, 0);
  }
}

.jumbotron {
  background-color: $brand-primary;
  background: -moz-radial-gradient(center, ellipse cover, rgba(120,163,0,1) 0%, rgba(87,127,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(120,163,0,1)), color-stop(100%, rgba(87,127,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(120,163,0,1) 0%, rgba(87,127,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(120,163,0,1) 0%, rgba(87,127,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(120,163,0,1) 0%, rgba(87,127,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(120,163,0,1) 0%, rgba(87,127,0,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78a300', endColorstr='#577f00', GradientType=1 );

  margin-bottom: 0;
  color: $light-text-color;
  -webkit-font-smoothing: antialiased;

  p {
    line-height: 32px;
  }
}

@media (min-width: $screen-sm-min) {
  .jumbotron h1 {
    display: inline-block;
  }

  .jumbotron--hero-title {
    display: inline-block;
    width: auto;
  }

  .jumbotron--algolia-logo {
    margin-right: 13px;
  }

  .jumbotron--zendesk-logo {
    margin-left: 4px;
  }
}

.jumbotron--zendesk-logo img {
  position: relative;
  top: -0.26em;
  max-width: 95%;
}

.headline {
  text-align: center;
  margin-bottom: 40px;

  &:after {
    display: block;
    content: '';
    border-bottom: 2px solid $zendesk-green;
    margin: 0.4em auto 1em auto;
    width: 30px;
  }
}

.home-section {
  padding: 50px 0;
}

.home-section__instant-answers {
  background-color: #F4F7EE;
}

.home-section__features {
  .row {
    margin-bottom: 1em;

    p {
      color: #555555;
    }
  }

  .bubble {
    border: 2px solid $zendesk-green;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 185%;
      margin-left: 15%;
      margin-top: 5%;
      margin-bottom: -90%;
    }
  }
}

.home-section__showcases {
  background-color: #EEF3F7;
  text-align: center;

  .showcase {
    display: block;
    border: 1px solid $zendesk-green;
    height: 200px;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    &.fixme {
      width: 100%;
      height: 200px;
      color: $zendesk-green;
      background-color: white;

      line-height: 200px;
      font-size: 2em;
    }
  }
}

.home-section__join {
  p {
    line-height: 1.4em;
    padding: 0 2em;
    font-family: Raleway, sans-serif;
  }

  .big-number {
    font-size: 2.8em;
    line-height: 1em;
    margin-right: .2em;
    font-weight: bolder;
    color: $zendesk-green;
    float: left;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  button {
    background-color: #78A300;
  }
}
