h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1em; }

.showcase--image {
  max-width: 200px;
  margin: auto;
}

.headline {
  text-align: center;
}

.jumbotron {
  background: #eee5d9;
  color: #363636;
}

.headline:after {
  display: block;
  content: ' ';
  height: 10px;
  border-bottom: 2px solid $zendesk-green;
  margin: 0 auto 1em auto;
  width: 30px;
}

.features {
  .row {
    margin-bottom: 1em;

    p {
      color: #BABDC6;
    }
  }

  img {
    border: 10px solid #efefef;
    border-radius: 50%;
  }
}