.highlight {
  background-color: lighten(#eee5d9, 8%);
  padding: 20px;
}

p, ul {
  line-height: 2em;
}

h2 {
  margin-top: 2em;
  border-bottom: 1px solid $zendesk-green;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.CodeRay .code pre * {
  background: transparent !important;
}

code {
  color: #5e3800;
}
