/* Override Zendesk's `input:not([type="checkbox"]):focus` rule */
.aa-Input:focus {
  border: none !important;
}

/* Rather use the InputWrapper{Prefix,,Suffix} as the bordered input to append the submit button to the form */
.aa-Form {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.aa-InputWrapperPrefix {
  border: 1px solid var(--aa-primary-color);
  border-right: none;
}
.aa-InputWrapper {
  border: 1px solid var(--aa-primary-color);
  border-left: none;
  border-right: none;
  height: var(--aa-search-input-height);
}
.aa-InputWrapperSuffix {
  border: 1px solid var(--aa-primary-color);
  border-left: none;
}

/* Fix padding issue in alpha.45 */
.aa-Source {
  padding: 0 8px;
}

/* the container we create is `position: relative` */
.aa-Panel {
  left: unset !important;
  right: unset !important;
}

/* Custom */
.aa-Commands {
  display: flex;
}
.aa-Commands li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 12px;
}
.aa-Key {
  align-items: center;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgb(30 35 90 / 40%);
  color: #969faf;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  padding-bottom: 2px;
  position: relative;
  top: -1px;
  width: 20px;
  margin-right: 8px !important;
}
.aa-DetachedSearchButtonSuffix {
  position: absolute;
  right: 0;
  display: flex;
}
.aa-Label {
  color: #969faf;
  font-size: 0.75em;
  line-height: 1.6em;
}
.aa-PoweredByAlgolia {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.aa-Logo {
  margin-left: 8px !important;
  color: rgb(84, 104, 255);
}

.aa-answers-question {
  font-weight: bold;
}
.aa-answers-questionTopic {
  font-size: 0.95em;
  opacity: 0.7;
}
.aa-answers-answer {
  font-size: 0.95em;
  opacity: 0.9;
  line-height: 1.3em;
}
section[data-autocomplete-source-id='Answers'] .aa-ItemIcon {
  background-color: var(--aa-primary-color);
  color: white;
}
