    * { box-sizing: border-box; }
    html, body { height: 100%; }
    body { margin: 0; padding: 0; font: 12px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif; }

    input[type="checkbox"] { display: inline-block; }

    .hidden { display: none !important; }

    #loading { width: 100%; text-align: center; }

    #input-container { height: 38px; position: relative; border: 2px solid #ccc; outline: none; }
    #input-container:focus { border: 2px solid #0097cf; }
    #input-container.autocomplete { width: 98%; margin-left: 1%; margin-top: 4px; }
    #input-container.full { margin-left: 15%; margin-right: 5px; margin-top: 5px; }

    #search-bar { outline: none; }

    #logo { height: 48px; width: 98%; margin-left: 1%; }
    #mini-logo { height: 32px; position: absolute; right: 2px; top: 50%; margin-top: -16px; }

    #sort-options { margin-bottom: 15px; text-align: right; margin-right: 10px; }
    #sort-options span { cursor: pointer; color: #146EAA; }
    #sort-options span.active { font-weight: bold; color: inherit; }

    #facets { width: 14%; border-right: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5; background-color: #F8F8F8; color: #555; float: left; margin: 0; padding: 0; }
    #facets ul { list-style-type: none; padding: 10px; }
    #facets li { padding: 5px 10px; cursor: pointer; }
    #facets li.title { font-weight: bold; }
    #facets span { display: inline-block; color: #146EAA; }
    #facets span:first-letter { text-transform: uppercase; }
    #facets .show-more span { color: #6E6EAA; }
    #facets .refined { background-color: #E5E5E5; border-radius: 3px; color: #555; }
    #facets .refined span { color: #111; }
    #facets .tags span:first-letter { text-transform: none;  }

    #pagination { width: 85%; clear: both; float: right; clear: right; }
    #results { width: 85%; padding-top: 10px; float: right; }

    .no-results { text-align: center; line-height: 3em; font-style: italic; color: #555; font-size: 1.5em; }
    .no-results strong { color: #111; }

    .twitter-typeahead { width: 100%; }
    .tt-input, .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: none; background: transparent; }
    .twitter-typeahead .tt-hint { color: #999; }
    .tt-dropdown-menu { width: 100%; padding: 0 10px 10px 10px; background-color: #fff; margin-top: 5px; margin-bottom: 15px; }

    .tt-dropdown-menu .tt-dataset-tickets { width: 59%; float: left; margin: 0; clear: left; }
    .tt-dropdown-menu .tt-dataset-users, .tt-dropdown-menu .tt-dataset-organizations { width: 39%; float: right; margin: 0 0 0 1%; clear: right; }

    .tt-suggestion { text-align: left; min-height: 39px; padding: 5px 0; cursor: pointer; border-top: 1px dotted #CCC; }
    #results .tt-suggestion { padding: 15px 10px; }
    .tt-suggestion.tt-cursor, #results .tt-suggestion:hover { background-color: #F8F8F8; }
    .tt-suggestion p { margin: 0; width: 100%; }
    .tt-suggestion a { color: #000; text-decoration: none; }
    .tt-suggestion em { font-weight: bold; font-style: normal; }

    .tt-dropdown-menu .header { width: 100%; font-size: 14px; font-weight: bold; text-transform: capitalize; }
    .tt-suggestion .info { margin-left: 40px; }
    .tt-suggestion .picture { width: 32px; height: 32px; border-radius: 2px; float: left; background-repeat: no-repeat;}
    .tt-suggestion .picture img { width: 100%; height: 100%; }
    .tt-suggestion .user .picture.no-pic { background-image: url("img/user.png"); }
    .tt-suggestion .organization .picture { background-image: url("img/organization.png"); }
    .tt-suggestion .article .picture { background-image: url("img/article.png"); }

    .tt-suggestion .overflow-block-container { font-size: 0; }
    .tt-suggestion .overflow-block { margin-right: 5px; display: inline-block; }
    .tt-suggestion .ticket .title, .tt-suggestion .user .name, .tt-suggestion .organization .name, .tt-suggestion .article .title .name { font-size: 14px; color: #146EAA; }
    .tt-suggestion .ticket .title .id { color: #999; }
    .tt-suggestion .ticket .description { font-size: 14px; margin: 5px 0; max-width: 700px }
    .tt-suggestion .ticket .caracs span, .tt-suggestion .tags .tag { min-width: 50px; text-align: center; display: inline-block; text-transform: capitalize; font-size: 10px; color: white; padding: 2px; border-radius: 2px; opacity: 0.8; }
    .tt-suggestion .ticket .caracs .type.task { background-color: #78A300; }
    .tt-suggestion .ticket .caracs .type.ticket, .tt-suggestion .ticket .caracs .status.new, .tt-suggestion .ticket .caracs .priority.normal { background-color: #F5CA00; }
    .tt-suggestion .ticket .caracs .type.problem, .tt-suggestion .ticket .caracs .priority.urgent, .tt-suggestion .ticket .caracs .status.open { background-color: #E82A2A; }
    .tt-suggestion .ticket .caracs .type.question, .tt-suggestion .ticket .caracs .priority.low, .tt-suggestion .ticket .caracs .status.pending, .tt-suggestion .tags .tag { background-color: #59BBE0; }
    .tt-suggestion .ticket .caracs .type.incident, .tt-suggestion .ticket .caracs .priority.high { background-color: #ED5D28; }
    .tt-suggestion .ticket .caracs .status.solved, .caracs .status.closed { background-color: #828282; }
    .tt-suggestion .notes, .tt-suggestion .details, .tt-suggestion .overflow-block { font-size: 14px; max-width: 100%; overflow: hidden; vertical-align: bottom; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; word-wrap: break-word; }
    .tt-suggestion .requester, .tt-suggestion .user .email, .tt-suggestion .organization .domains, .tt-suggestion .article .author, .tt-suggestion .additional_info { color: #999; font-size: 10px; }
