---
layout: default
class: home
---

.main-content
  .jumbotron.text-center
    .container
      .row
        .col-sm-12
          %h1.row
            .col-xs-12.jumbotron--hero-title.jumbotron--algolia-logo
              %img{ src: '{{site.baseurl}}/img/algolia-logo-white.svg', alt: 'Algolia', width: 190 }
            .col-xs-12.jumbotron--hero-title
              %small for
            .col-xs-12.jumbotron--hero-title.jumbotron--zendesk-logo
              %img{ src: '{{site.baseurl}}/img/zendesk-logo.svg', alt: 'Zendesk', width: 340 }

      .row
        .col-sm-12
          %p
            Level up your Zendesk Help Center by providing
            %br
            your users with an awesome search experience

      .spacer50
      .join
        %a.btn.btn-primary.btn-lg{href: 'https://www.algolia.com/zendesk'} Get started

  .home-section.home-section__instant-answers
    %h2.headline Instant answers
    .text-center
      :markdown
        Nothing is more important to your users than finding answers to their questions.  
        Algolia turns your Zendesk Help Center into an **instant knowledge base**,  
        returning relevant answers from the first keystroke.

  .home-section.home-section__features
    %h2.headline Features
    .container
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %h3 Autosuggestion menu
            %p Offer end users immediate access to your whole help center from the dropdown menu, whatever the number of total sections or articles.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/autocompletion-menu.png'}
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/instantsearch.png'}
          .col-md-8.col-sm-9
            %h3 Instant & faceted search
            %p Update your search results page, navigation and pagination in real time with each new keystroke.
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %h3 Fast & relevant
            %p Increase customer satisfaction by serving relevant results at lightning speed.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/relevant.png'}
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/customizable.png'}
          .col-md-8.col-sm-9
            %h3 Customizable
            %p Our code is open-source and hosted on GitHub, feel free to customize it.

  .home-section.home-section__showcases
    %h2.headline They're using Algolia
    .container
      .text-center
        These companies transformed their help centers into instant knowledge bases.
        %br
        You can too!
      .spacer50
      .row
        .col-sm-4
          %a.showcase{href: 'https://support.aodocs.com/hc/en-us'}
            %img.img-responsive{src: 'img/showcase/aodocs.png'}
          %p AODOCS
        .col-sm-4
          %a.showcase{href: 'https://support.sorba.ch/hc'}
            %img.img-responsive{src: 'img/showcase/sorba.png'}
          %p SORBA
        .col-sm-4
          .showcase.fixme{href: '#'} You?
          %p Join us!

  .home-section.home-section__join
    %h2.headline Be ready in minutes!
    .container
      .row
        .col-sm-4
          %p
            %span.big-number 1
            Click "Get Started" to connect your Zendesk Help Center with your Algolia account.
        .col-sm-4
          %p
            %span.big-number 2
            Authorize our application in your Zendesk account, and we'll start indexing right away!
        .col-sm-4
          %p
            %span.big-number 3
            Copy the code from <a href="./documentation/">our docs</a> into your Help Center template to bring an <b>instant search experience</b> to your users.

      .spacer50

      .join
        %a.btn.btn-primary.btn-lg{href: 'https://www.algolia.com/zendesk'} Get started
