---
layout: default
---

.main-content
  .jumbotron.text-center
    .container
      .row
        .col-sm-12
          %h1.row
            .col-xs-12.jumbotron--hero-title.jumbotron--algolia-logo
              %img{ src: '{{site.baseurl}}/img/algolia-logo-white.svg', alt: 'Algolia', width: 190 }
            .col-xs-12.jumbotron--hero-title
              %small for
            .col-xs-12.jumbotron--hero-title.jumbotron--zendesk-logo
              %img{ src: '{{site.baseurl}}/img/zendesk-logo.svg', alt: 'Zendesk', width: 340 }

      .row
        .col-sm-12
          %p
            Level up your Zendesk Help Center by providing
            %br
            your users with an awesome search experience

      .spacer50
      %form.join.col-md-8.col-md-offset-2{method: 'get', action: 'https://www.algolia.com/zendesk/auth'}
        .form-group{style: 'text-align: left;'}
          %label{for: 'join-subdomain', style: 'padding-left: 5px;'} Your Zendesk subdomain
          .row
            .col-lg-9.col-md-8.col-sm-7
              %input#join-subdomain.form-control.input-lg{type: 'text', name: 'subdomain', placeholder: 'your-company.zendesk.com'}
            .col-lg-3.col-md-4.col-sm-5
              %button.btn.btn-primary.btn-lg{type: 'submit'} Join the beta!

  .home-section.home-section__instant-answers
    %h2.headline Instant answers
    .text-center
      :markdown
        Nothing is more important for your users than to find answers to their problems.  
        Algolia turns your Zendesk Help Center into an **instant knowledge base**,  
        returning relevant answers from the first keystroke.

  .home-section.home-section__features
    %h2.headline Features
    .container
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %h3 Auto-suggestions menu
            %p Offer End-Users immediate access to your whole help center from the dropdown menu, whatever your number of sections or articles.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/autocompletion-menu.png'}
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/instantsearch.png'}
          .col-md-8.col-sm-9
            %h3 Instant & Faceted Search
            %p Have your search results page, navigation and pagination updated in realtime, after each keystroke.
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %h3 Fast & Relevant
            %p Increase customer satisfaction by serving relevant results, at lightning speed.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/relevant.png'}
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/customizable.png'}
          .col-md-8.col-sm-9
            %h3 Customizable
            %p Our code is open-source and hosted on GitHub, feel free to customize it.

  .home-section.home-section__showcases
    %h2.headline They're using Algolia
    .container
      .text-center
        They changed their Help Center to an instant knowledge base.
        %br
        You can too!
      .spacer50
      .row
        .col-sm-4
          %a.showcase{href: 'https://support.aodocs.com/hc/en-us'}
            %img.img-responsive{src: 'img/showcase/aodocs.png'}
          %p AODOCS
        .col-sm-4
          %a.showcase{href: 'https://support.sorba.ch/hc'}
            %img.img-responsive{src: 'img/showcase/sorba.png'}
          %p SORBA
        .col-sm-4
          .showcase.fixme{href: '#'} You?
          %p Join us!

  .home-section.home-section__join
    %h2.headline Be ready in minutes!
    .container
      .row
        .col-sm-4
          %p
            %span.big-number 1
            Enter your Zendesk subdomain below and click &laquo; Join the beta! &raquo;. You'll be sent to your Algolia account
        .col-sm-4
          %p
            %span.big-number 2
            Authorize our application in your Zendesk account and we'll start indexing right away!
        .col-sm-4
          %p
            %span.big-number 3
            Copy the code from <a href="./documentation/">our docs</a> into your Help Center template to bring the <b>instant search experience</b> to your users.

      .spacer50

      %form.join.col-md-8.col-md-offset-2{method: 'get', action: 'https://www.algolia.com/zendesk/auth'}
        .form-group{style: 'text-align: left;'}
          %label{for: 'join-subdomain', style: 'padding-left: 5px;'} Your Zendesk subdomain
          .row
            .col-lg-9.col-md-8.col-sm-7
              %input#join-subdomain.form-control.input-lg{type: 'text', name: 'subdomain', placeholder: 'your-company.zendesk.com'}
            .col-lg-3.col-md-4.col-sm-5
              %button.btn.btn-primary.btn-lg{type: 'submit'} Join the beta!
