---
layout: default
class: home
---
.main-content
  .jumbotron.text-center
    .container
      .row
        .col-sm-12
          %h1.row
            .col-xs-12.jumbotron--hero-title.jumbotron--algolia-logo
              %img{ src: '{{site.baseurl}}/img/algolia-logo-white.svg', alt: 'Algolia', width: 190 }
            .col-xs-12.jumbotron--hero-title
              %small for
            .col-xs-12.jumbotron--hero-title.jumbotron--zendesk-logo
              %img{ src: '{{site.baseurl}}/img/zendesk-logo.svg', alt: 'Zendesk', width: 340 }

      .row
        .col-sm-12
          %p
            Level up your Zendesk Help Center by providing
            %br
            your users with an awesome search experience

      .join
        %a.btn.btn-cta.btn-transparent{href: 'https://algolia-test.zendesk.com/hc/en-us'} Try it live
        %a.btn.btn-cta.btn-black{href: 'https://www.algolia.com/zendesk', rel: 'nofollow'} Get started

      %img.demo-gif{src: 'https://res.cloudinary.com/hilnmyskv/image/upload/w_800/v1463131300/zendesk-algolia-home-v2_ektlrt.gif'}

  .home-section.home-section__instant-answers
    %h2.headline Instant answers
    .text-center Nothing is more important to your users than finding answers to their questions. <br/> Algolia turns your Zendesk Help Center into an <strong>instant knowledge base</strong>, <br/> returning relevant answers from the first keystroke.

  .home-section.home-section__features
    %h2.headline Features
    .container
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %h3 Autosuggestion menu
            %p Immediate access to your help center from the dropdown menu.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/autocompletion-menu.png'}
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/instantsearch.png'}
          .col-md-8.col-sm-9
            %h3 Instant & faceted search
            %p Update search results, navigation and pagination in real time on each new keystroke.
      .row
        .row.col-md-6
          .col-md-8.col-sm-9.text-right
            %h3 Fast & relevant
            %p Increase customer satisfaction by serving relevant results at lightning speed.
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/relevant.png'}
        .row.col-md-6
          .col-md-4.col-sm-3.hidden-xs
            .bubble
              %img{src: '{{site.baseurl}}/img/customizable.png'}
          .col-md-8.col-sm-9
            %h3 Customizable
            %p Our code is open-source and hosted on GitHub, feel free to customize it.

  .home-section.home-section__showcases
    %h2.headline They're using Algolia
    .container
      .text-center
        These companies transformed their help centers into instant knowledge bases.
        %br
        You can too!
      .spacer50
      .row
        .col-sm-3
          %a{href: 'https://support.dashlane.com/hc/en-us'}
            %img.small-icon{:src => "/zendesk/img/dashlane-logo_light.svg"}
          .stretchy-ratio
            .showcase.gif
              %img.img-responsive.main-image{'data-src' => 'https://res.cloudinary.com/hilnmyskv/image/upload/v1463058311/zendesk-dashlane-2_l2i7do.png'}
              %img.img-responsive.animated-image{'data-src' => 'https://res.cloudinary.com/hilnmyskv/image/upload/v1463058311/zendesk-dashlane-2_l2i7do.gif'}

        .col-sm-3
          %a{href: 'https://support.geckoboard.com/hc'}
            %img.small-icon{:src => "/zendesk/img/geckoboard-logo_light.svg"}
          .stretchy-ratio
            .showcase.gif
              %img.img-responsive.main-image{'data-src' => 'https://res.cloudinary.com/hilnmyskv/image/upload/v1465218075/zendesk-geckoboard_discsr.png'}
              %img.img-responsive.animated-image{'data-src' => 'https://res.cloudinary.com/hilnmyskv/image/upload/v1465218075/zendesk-geckoboard_discsr.gif'}

        .col-sm-3
          %a{href: 'https://wisembly.zendesk.com/hc'}
            %img.small-icon{:src => "/zendesk/img/wisembly-logo_light.svg"}
          .stretchy-ratio
            .showcase.gif
              %img.img-responsive.main-image{'data-src' => 'https://res.cloudinary.com/hilnmyskv/image/upload/v1464712072/zendesk-wisembly_q4pyah.png'}
              %img.img-responsive.animated-image{'data-src' => 'https://res.cloudinary.com/hilnmyskv/image/upload/v1464712072/zendesk-wisembly_q4pyah.gif'}

        .col-sm-3
          .small-icon
          .stretchy-ratio
            .showcase.fixme{href: '#'} You?

  .home-section.home-section__join
    %h2.headline Be ready in minutes!
    .container
      .row
        .col-sm-4
          %p
            %span.big-number 1
            Click "Get Started" to connect your Zendesk Help Center with your Algolia account.
        .col-sm-4
          %p
            %span.big-number 2
            Authorize our application in your Zendesk account, and we'll start indexing right away!
        .col-sm-4
          %p
            %span.big-number 3
            Copy the code from <a href="./documentation/">our docs</a> into your Help Center template to bring an <b>instant search experience</b> to your users.

      .spacer50

      .join.text-center
        %a.btn.btn-green.btn-cta{href: 'https://www.algolia.com/zendesk', rel: 'nofollow'} Get started
