---
layout: default
---

.main-content
  .jumbotron
    .container
      %h1 {{ site.title }}

      .row
        .col-sm-8
          %p Empower your Zendesk Help Center with Algolia Search and provide your users a Google-like search experience.

      .spacer50
      %p.text-center
        %a.btn.btn-primary.btn-lg{href: 'mailto:hey@algolia.com?subject=Join%20the%20Zendesk%20beta'}
          Join the beta
          %i.fa.fa-envelope-o

  .container
    .spacer50
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam atque deleniti illum dolores voluptatem saepe fuga consequatur, quibusdam placeat ex, voluptatum praesentium fugiat odit consequuntur. Mollitia ut praesentium, fuga aliquam.

    .spacer100
    %h1.headline Features
    .features
      .row
        .col-sm-4.col-sm-offset-3
          %h3 Auto-suggestions menu
          %p Offer End-Users immediate access to your whole help center from the dropdown menu, whatever your number of sections or articles.
        .col-sm-3.hidden-xs
          .bubble
            %img{src: '{{site.baseurl}}/img/autocompletion-menu.png'}
      .row
        .col-sm-3.col-sm-offset-3.hidden-xs
          .bubble
            %img{src: '{{site.baseurl}}/img/instantsearch.png'}
        .col-sm-4
          %h3 Instant & Faceted Search
          %p Have your search results page, navigation and pagination updated in realtime, after each keystroke.
      .row
        .col-sm-4.col-sm-offset-3
          %h3 Fast & Relevant
          %p Increase customer satisfaction by serving relevant results, at lightning speed.
        .col-sm-3.hidden-xs
          .bubble
            %img{src: '{{site.baseurl}}/img/relevant.png'}
      .row
        .col-sm-3.col-sm-offset-3.hidden-xs
          .bubble
            %img{src: '{{site.baseurl}}/img/customizable.png'}
        .col-sm-4
          %h3 Customizable
          %p Our code is open-source and hosted on GitHub, feel free to customize it.

    .spacer100
    %h1.headline Showcase
    .row.text-center
      .col-sm-4.showcase
        %a{href: 'https://rememberthedate.zendesk.com/hc'}
          %img.img-responsive.showcase--image{src: 'img/showcase/rememberthedate.png'}
          %p Remember The Date
      .col-sm-4.showcase
        %a{href: 'https://https://support.sorba.ch/hc'}
          %img.img-responsive.showcase--image{src: 'http://placehold.it/200x200'}
          %p SORBA
      .col-sm-4.showcase
        %a{href: '#'}
          %img.img-responsive.showcase--image{src: 'http://placehold.it/200x200'}
          %p FIXME
